<div class="card">
  <div class="card-ellipsis card-ellipsis-top card-alone">…</div>
</div>

<div class="card">
  <img src="<%= image_url('card.png') %>" class="card card-alone" />
  <div class="card-text">
    <div class="card-head">Matt is one of the most thoughtful and genuine people I know.</div>
    <div class="card-subhead">#153 • <span>matt@mattfoo.com</span></div>
  </div>
</div>

<svg class="arrows">
  <path d="M200,0 L200,30" class="line"/>
</svg>

<div class="card">
  <img src="<%= image_url('card.png') %>" class="card card-alone" />
  <div class="card-text">
    <div class="card-head">Alex is passionate and fearless: he inspires me to be ambitious.</div>
    <div class="card-subhead">#159 • <span>alexlynn@gmail.com</span></div>
  </div>
</div>

<svg class="arrows">
  <!--<path d="M200,8 L50,40" class="line"/>-->

  <path d="M200,0 C200,20 90,10 90,30" class="line line-dashed" />
  <path d="M200,0 L200,30" class="line"/>
</svg>

<div class="card">
  <div class="card-ellipsis card-ellipsis-side">…</div>
  <img src="<%= image_url('card.png') %>" class="card card-fadded" />
  <img src="<%= image_url('card.png') %>" class="card" />
  <div class="card-text">
    <div class="card-head">David is one of the most brilliant and creative people I've met.</div>
    <div class="card-subhead">#171</div>
  </div>
</div>

<svg class="arrows">
  <path d="M200,0 L200,30" class="line"/>
</svg>

<div class="prompt">

  <div class="prompt-inner">
    <form>
      <label class="tip bare">Which friend inspire you? Whom do you want to be more like?</label>
      <!--<div class="seperator"></div>-->
      <input type="text" id="form-name" autofocus />
      <!--<textarea id="form-name" autofocus></textarea>-->
    </form>
  </div>

</div>

<!--<button>Submit</button>-->

<!--<div class="progress">-->
  <!--Ⅰ/Ⅲ-->
<!--</div>-->

<!--<div class="progress">-->
  <!--<span class="progress-glyph" style="color: black;">a</span>-->
  <!--<span class="progress-glyph">a</span>-->
  <!--<span class="progress-glyph">a</span>-->
<!--</div>-->

<!--<div class="progress">-->
  <!--<span class="progress-chicklet active"></span>-->
  <!--<span class="progress-chicklet"></span>-->
  <!--<span class="progress-chicklet"></span>-->
<!--</div>-->
