
<div class="me">


<div class="me-intro">
  <span class="leader">hi, i’m david</span> I build <em>thoughtful</em>, <em>ambitious</em> things with <em>incredible people</em>.

  <a href="#" class="button">reach out</a>
  <span class="button-companion">Catch me in SF:<br>June 18 – June 29</span>
</div>
<!--early

important

something you use,


David is incredible. I can't wait for the day I get to work for him.

David is the most alive person I know.

David is thoughtful, ambitious and a force of nature.



   execution-heavy

Reach out.

Next time in SF:-->

<div class="me-cards">
  <div>
    <img src="<%= image_url('card.png') %>" class="card" /><div class="card-label card-label-left">#005</div>
  </div>

  <div>
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-label card-label-left">#115</div>
  </div>

  <div>
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-label card-label-left">#077</div>
  </div>

  <div>
    <img src="<%= image_url('card.png') %>" class="card" />
    <div class="card-label card-label-left">#191</div>
  </div>
</div>

<div class="me-project">
  <p>
  <em>Who are your most interesting friends?</em> In 2014, I started asking the people around me. I wanted to follow the trail a few levels deeper.
  </p>

  <p>
  I considered a physical token that would be passed along. The military tradition of <a href="http://en.wikipedia.org/wiki/Challenge_coin">challenge coins</a> was particularly interesting.
  </p>

  <p>
  In parallel, I was fascinated by chain letters and loved witnessing introductions.
  </p>

  <p>
  Inspired by that—
  </p>

  <p style="margin-top: 20px;">
  This is Compliment Gossip. Built atop the Neo4j graph database, set in Playfair Display and fulfilled by Lob.
  </p>

  <!--<p>
  This is an experiment and you’re part of it.
  </p>-->

  <!--<p>
 You and I are connected.
  Compliment Gossip will eventually be open to trees where I am not the root node. But until then, stand by — we're not quite ready to be <a href="http://www.producthunt.com/">hunted</a>.
  </p>-->
</div>

</div>
