@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Playfair+Display+SC&subset=latin,latin-ext);

html {
  box-sizing: border-box;
}

/* apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*margin: 0 0 -40px 0;*/
  margin: 0;
  font-family: 'Playfair Display', Georgia, serif;
}

#container {
  width: 980px;
  margin: 15px auto 20px;
}

h1 {
  font-size: 22px;
  margin-top: 80px;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

a:hover {
  text-decoration: underline;
}

footer {
  font-size: 12px;
  font-style: italic;
  color: grey;
  text-align: center;
  margin-top: 80px;
  width: 100%;
}

.clear {
  clear: both;
}


/*
 * General form styles
 */

input, select, textarea {
  font: 16px/30px 'Playfair Display', Georgia, serif;
  background: transparent;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;

  border: 1px solid #D3D3D3;
  padding: 4px 12px;
  margin-bottom: 6px;
  border-radius: 0px;
}

select {
  background-image: image-url('arrow.png');
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

input:focus, select:focus, textarea:focus {
  outline: 0;
}

label {
  font-family: 'Playfair Display SC', Georgia, serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  text-align: left;

  display: block;
  padding: 2px 0 4px;
}

button, input[type="submit"], .button {
  font: 14px/24px 'Playfair Display', Georgia, serif;
  text-align: center;

  border: 1px solid #D3D3D3;
  border-radius: 5px;
  background: none;

  margin-left: auto;
  margin-right: auto;
  padding: 6px 12px 7px;
  width: 180px;

  appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-decoration: none;

  cursor: pointer;
  display: block;
}

button:hover:enabled, input[type="submit"]:hover:enabled, .button:hover {
  border: 1px solid #B5B5B5;
}

a.button:hover {
  text-decoration: none;
}

button.loading, input[type="submit"].loading, .button.loading {
  background-image: image-url('loading2.gif');
  background-size: auto 12px;
  background-position: 50% 12px;
  background-repeat: no-repeat;
}

/*
 * Rails
 */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  border: 2px solid #e74c3c !important;
}

.error-explanation {
  border: 1px solid #e74c3c;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c0392b;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/*
 * Autocomplete
 */

.autocomplete-suggestions {
  background: #FFF;
  overflow: auto;
  margin-top: 15px;
  margin-left: 10px;
  border-left: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  font-size: 14px;
  line-height: 30px;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
/*.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }*/
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

/*
 * Cards
 */

.cards {
  overflow: auto;
}

.card {
  width: 100px;
  height: 69px;
  margin-right: 10px;

  border: 1px solid #D3D3D3;
  background: white;
}
.card > img {
  width: 100%;
  height: auto;
  display: block;
}

.cards > .card {
  float: left;
}

.card-alone {
  margin-left: 150px;
}

.card-left, .prompt-sidebar {
  margin-left: 40px;
}

.card-fadded {
  opacity: 0.5;
  cursor: no-drop;
}

.card-ellipsis {
  font-size: 24px;
  color: #D3D3D3;
  pointer-events: none;
  user-select: none;
}

.card-ellipsis-side {
  float: left;
  text-align: right;
  width: 30px;
  margin-top: 12px;
  margin-right: 10px;
}

.card-ellipsis-top {
  width: 100px;
  text-align: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: relative;
  left: 8px;
}

.card-single {
  margin-left: 40px;
}

.card-text {
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  z-index: 101; /* TODO: position: relative */
}

.card-head {
  font-size: 18px;
  margin-bottom: 2px;
}

.card-subhead {
  font-family: 'Playfair Display SC', Georgia, serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #4f4f4f;
}

.new {
  color: #0E7AFE; font-weight: bold;
  vertical-align: 10%;
  margin-left: -10px;
  padding-right: 2px;
  /*letter-spacing: 0em;*/
  /*font-size: 10px;*/
}

.card-subhead > a {
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #4f4f4f;
}

.card-label {
  font-family: 'Playfair Display SC', Georgia, serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #4f4f4f;

  margin-bottom: 4px;
}

.card-label-left {
  float: left;
  text-align: left;
}

.card-label-right {
  float: right;
  text-align: right;
}

.card-self {
  margin: 30px auto 20px;
  text-align: center;
}

.card-self > img {
  width: 100%;
  height: 273px;
  margin: 0;
}

.card-overlaid {
  position: relative;
  /*border: 1px solid #27ae60;*/
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.8);
  color: #2ecc71;

  padding-top: 20px;

  font-size: 18px;
  text-align: center;
}

.card-overlay > div {
  opacity: 0;
}

.card-overlay > div > svg {
  /*display: block;*/
  /*margin: 4px auto 0;*/
  width: 22px;
  height: 22px;
  padding-right: 4px;
  vertical-align: middle;
}

.card-overlay > div > svg > path {
  fill: #2ecc71;
}

.cards-children > div:first-child {
  float: left;
}

.card-stack {
  position: relative;
  cursor: pointer;
}

.card-stack > *:first-child {
  position: relative;  // necessary for z-index to work
  z-index: 100;
}
.card-stack > *:not(:first-child) {
  position: absolute;
  top: 0;
}

.card-stack > .card:hover {
  border: 1px solid #B5B5B5;
}

.exit {
  font-size: 26px;
  font-weight: bold;
  text-align: right;
  color: #D3D3D3;

  /*display: block;*/
  float: right;
  line-height: 10px;
}
.exit:hover {
  text-decoration: none;
  color: #B5B5B5;
  cursor: pointer;
  user-select: none;
}

.card-line {
  margin: 4px 0 0;
  width: 100%;
  height: 30px;
}

.card-longline {
  margin: 4px 0;
  width: 300px;
  height: 180px;
  float: left;
}

.card-longline.disabled {
  height: 30px;
}

svg .line {
  stroke: #D3D3D3;
  stroke-width: 2;
  fill: none;
}

.line-dashed {
  stroke-dasharray: 3,4;
  stroke-linecap: round;
}

.top {
  position: relative;
}

.card-preview {
  position: absolute;
  top: 0;
  left: 270px;
  height: 100%;
  width: 100%;
  background: white;
  text-align: left;
  display: none;
}

.card-preview > img {
  border: 1px solid #D3D3D3;
  height: 100%;
}

.prompt, .prompt-buttons, .error-explanation-new {
  margin-left: 150px;
  margin-right: 150px;
}

.prompt-buttons {
  margin-top: 8px;
}

.bigcard {
  border: 1px solid #D3D3D3;
  width: 6in;
  height: 4in;
}

label.tip {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 12px;
  font-style: italic;
  text-transform: none;
  text-align: center;
  letter-spacing: 0;

  display: block;
  padding: 2px 0;
  position: relative;
  color: #4f4f4f;
}

.tip:before {
  content : "";
  position: absolute;
  top: 100%;
  left: calc(50% - 50px);
  margin-top: 3px;
  height: 1px;
  width: 100px;
  border-bottom: 1px solid #D3D3D3;
}

.tip:after {
  position: absolute;
  top: 100%;
  left: calc(50% - 4px);
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  border-right: 1px solid #D3D3D3;
  border-top: 1px solid #D3D3D3;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  pointer-events: none;
}

.bigcard > input, .bigcard > textarea {
  display: block;
}

.bigcard.disabled {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 20px,
    #F4F4FF 20px,
    #F4F4FF 40px
  );

  padding: 20px;
}

.bigcard-disabled-message {
  background: white;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 110px;
}

.bigcard.disabled .button {
  margin-top: 30px;
}


.prompt-submit {
  width: 180px;
  margin: 25px auto;
}
.prompt-submit > a {
  width: 100%;
}


/*
 * Progress bar
 */

.progress {
  float: right;
  font-size: 11px;
}

.progress-message {
  text-align: right;
  display: inline-block;
  padding-right: 4px;
}

.progress-chicklet {
  display: inline-block;
  width: 20px;
  height: 4px;
  background: #E8E8E8;
  vertical-align: middle;
  margin-left: 1px;
}
.progress-chicklet.active {
  background: #59AAE0;
}
.progress-chicklet.inprogress {
  -webkit-animation: bluepulse 3s infinite ease-in-out;
  animation: bluepulse 3s infinite ease-in-out;
}

@-webkit-keyframes bluepulse {
    from {
        background-color: #E8E8E8;
    }
    50% {
        background-color: #59AAE0;
    }
    to {
        background-color: #E8E8E8;
    }
}

@keyframes bluepulse {
    from {
        background-color: #E8E8E8;
    }
    50% {
        background-color: #59AAE0;
    }
    to {
        background-color: #E8E8E8;
    }
}


/*
 * Template picker arrows
 */

.template-picker {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 9px;
  user-select: none;
}
.template-picker > div {
  padding: 6px 8px;
  margin-top: 2px;

  border: 1px solid #D3D3D3;
  color: #4f4f4f;

  display: inline-block;
  cursor: pointer;
}
.template-picker > div.disabled {
  color: #D3D3D3;
  cursor: no-drop;
}
.template-picker > div:not(.disabled):hover {
  border: 1px solid #B5B5B5;
}
.template-picker > div:first-child {
  border-radius: 6px 0 0 6px;
}
.template-picker > div:last-child {
  border-radius: 0 6px 6px 0;
}


/*
 * Form confirmation page
 */

.form-container {
  width: 400px;
  margin: 0 auto;
}

.form-container input, .form-inset input, .form-container select, .form-inset select {
  width: 100%;
}

.form-group > div {
  float: left;
}

.form-group > div:not(:last-child) {
  padding-right: 10px;
}

.form-inset {
  margin: 60px auto 30px;
  padding: 0 25px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.form-inset > div:first-child {
  padding: 10px 0 8px;
}
.form-inset > div:first-child h3 {
  margin: 15px 0;
}

.form-inset > div:last-child {
  padding: 15px 0 20px;
}
.form-inset > div:last-child h3 {
  margin: 0 0 4px;
}

.form-inset-content {
  font-size: 14px;
  font-style: italic;
}

.form-inset-block:first-child {
  border-right: 1px solid #D3D3D3;
}

.form-inset-seperator {
  position: relative;
  text-align: center;
}
.form-inset-seperator:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #D3D3D3;
  z-index: -1;
}

.form-inset-seperator-content {
  font-size: 12px;
  font-style: italic;
  color: #B0B0B0;
  background: white;
  display: inline-block;
  margin: 0 auto;
  padding: 0 4px;
}

.form-submit {
  margin-top: 40px;
}


/*
 * Loading spinner
 */
.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.30s;
  animation-delay: -0.30s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*
 * Author page
 */

.me {
  margin: 50px auto 0;
}

.me-intro {
  width: 400px;
  padding-top: 100px;
  font-size: 18px;
  line-height: 28px;
}

.me .button {
  font: 14px/22px 'Playfair Display SC', Georgia, serif;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.05em;
  color: black;

  border: 1px solid black;
  background: none;

  float: left;
  margin-top: 30px;
  padding: 6px 12px 7px;
  width: 180px;

  appearance: none;
  -webkit-appearance: none;
  outline: none;
  text-decoration: none;

  cursor: pointer;
  display: block;
}
.me .button:hover {
  color: white;
  background: black;
}

.button-companion {
  float: left;
  font-size: 11px;
  line-height: 14px;
  margin-top: 33px;
  margin-left: 12px;
}

.only-sf {
  display: none
}

.me-cards {
  width: 400px;
  margin-top: 240px;
  margin-right: 40px;
  float: right;
}

.me-cards > div {
  margin-right: 6px;
  /*margin-top: 6px;*/
  width: 180px;
  height: auto;
  float: left;
}

.me-cards .card {
  width: 100%;
  height: auto;
}

.me-cards .card-label {
  margin-top: -4px;
  margin-bottom: 6px;
}

.me-project {
  font-size: 14px;
  line-height: 20px;
  color: #4f4f4f;

  margin-top: 250px;
  margin-right: 500px;
}

.leader {
  font-family: 'Playfair Display SC', serif;
  /*font-variant: small-caps;*/
  /*font-size: 20px;*/
  /*font-weight: bold;*/
  padding-right: 3px;
  letter-spacing: 0.05em;
}
