
#template-1 {
  background-image: image-url('templates/cactus1_digitalsugar_cactus2.png');
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: 50px auto;
}
#template-1 #introduction_sender_name {
  margin-top: 140px;
}

#template-2 {
  background-image: image-url('templates/ELEMENT5.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: 50px auto;
}
#template-2 #introduction_sender_name {
  margin-top: 160px;
}

#template-3 {
  background-image: image-url('templates/BORDER1.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 170px auto;
}

#template-4 {
  background-image: image-url('templates/ELEMENT6.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 88%;
  background-size: auto 30px;
}
#template-4 #introduction_sender_name {
  margin-top: 140px;
}

#template-5 {
  background-image: image-url('templates/ELEMENT8.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 91%;
  background-size: auto 40px;
}
#template-4 #introduction_sender_name {
  margin-top: 130px;
}

#template-6 {
  background-image: image-url('templates/ELEMENT12.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 88%;
  background-size: auto 30px;
}
#template-6 #introduction_sender_name {
  margin-top: 140px;
}

#template-7 {
  background-image: image-url('templates/ELEMENT11.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-size: 60px auto;
}

#template-8 {
  background-image: image-url('templates/ELEMENT9.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 88%;
  background-size: 60px auto;
}
#template-8 #introduction_sender_name {
  margin-top: 140px;
}
