
#template-1 {
  background-image: image-url('templates/1.png');
  background-repeat: no-repeat;
  background-position: 50% 260px;
  background-size: 45px auto;
}

#template-2 {
  background-image: image-url('templates/dotted.png');
  background-repeat: no-repeat;
  background-position: 50% 310px;
  background-size: 170px auto;
}

#template-3 {
  background-image: image-url('templates/ELEMENT6.png');
  background-repeat: no-repeat;
  background-position: 50% 325px;
  background-size: auto 30px;
}

#template-4 {
  background-image: image-url('templates/cross.png');
  background-repeat: no-repeat;
  background-position: 50% 325px;
  background-size: auto 40px;
}

#template-5 {
  background-image: image-url('templates/arrow2.png');
  background-repeat: no-repeat;
  background-position: 50% 255px;
  background-size: 50px auto;
}

#template-6 {
  background-image: image-url('templates/6.png');
  background-repeat: no-repeat;
  background-position: 50% 250px;
  background-size: 45px auto;
}

#template-7 {
  background-image: image-url('templates/bear.png');
  background-repeat: no-repeat;
  background-position: 50% 250px;
  background-size: 35px auto;
}

#template-8 {
  background-image: image-url('templates/roman.png');
  background-repeat: no-repeat;
  background-position: 50% 245px;
  background-size: 25px auto;
}

#template-9 {
  background-image: image-url('templates/bolt.png');
  background-repeat: no-repeat;
  background-position: 50% 315px;
  background-size: auto 20px;
}

#template-10 {
  background-image: image-url('templates/diamond.png');
  background-repeat: no-repeat;
  background-position: 50% 247px;
  background-size: auto 25px;
}

#template-11 {
  background-image: image-url('templates/bird.png');
  background-repeat: no-repeat;
  background-position: 50% 245px;
  background-size: auto 25px;
}

#template-12 {
  background-image: image-url('templates/star.png');
  background-repeat: no-repeat;
  background-position: 50% 287px;
  background-size: auto 14px;
}
