
#template-1 {
  /*background-image: image-url('templates/flower.png');*/
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 310px;*/
  /*background-size: auto 30px;*/
}
#template-1 #introduction_sender_name {
  /*margin-top: 160px;*/
}

#template-1 {
  background-image: image-url('templates/swirl.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 320px;
  background-size: 50px auto;
}

#template-2 {
  background-image: image-url('templates/dotted.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 372px;
  background-size: 170px auto;
}

#template-3 {
  background-image: image-url('templates/ELEMENT6.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 390px;
  background-size: auto 30px;
}

#template-4 {
  background-image: image-url('templates/cross.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 390px;
  background-size: auto 40px;
}

#template-5 {
  background-image: image-url('templates/arrow2.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 320px;
  background-size: 50px auto;
}

#template-6 {
  background-image: image-url('templates/horse.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 310px;
  background-size: 50px auto;
}


#template-7 {
  background-image: image-url('templates/bear.png');
  background-repeat: no-repeat;
  background-position: 50% 315px;
  background-size: 35px auto;
}

#template-8 {
  background-image: image-url('templates/roman.png');
  background-repeat: no-repeat;
  background-position: 50% 310px;
  background-size: 25px auto;
}

#template-9 {
  background-image: image-url('templates/wings.png');
  background-repeat: no-repeat;
  background-position: 50% 385px;
  background-size: 110px auto;
}

#template-10 {
  background-image: image-url('templates/bolt.png');
  background-repeat: no-repeat;
  background-position: 50% 380px;
  background-size: auto 20px;
}

#template-11 {
  background-image: image-url('templates/diamond.png');
  background-repeat: no-repeat;
  background-position: 50% 312px;
  background-size: auto 25px;
}

#template-12 {
  background-image: image-url('templates/bird.png');
  background-repeat: no-repeat;
  background-position: 50% 310px;
  background-size: auto 25px;
}

#template-13 {
  background-image: image-url('templates/star.png');
  background-repeat: no-repeat;
  background-position: 50% 352px;
  background-size: auto 14px;
}
